#footer {
    .site-info {
        span {
            font-size: 0.75rem;
            letter-spacing: 0.1em;
            color: rgba(255, 255, 255, 0.4);
        }
    }
    .footer_contact {
        letter-spacing: 0.1em;
        p {
            font-size: 0.88rem;
        }
        a {
            font-size: 0.75rem;
        }
    }
    h2 {
        font-family: dashiell-bright, serif;
    }
    .footer-top {
        background-position: center;
        overflow: hidden;
        z-index: 9;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: #191f24;
            z-index: -2;
            top: 0;
            left: 0;
            opacity: 0.95;
        }
        .footer-circle {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            @media screen and (max-width: 768px) {
                opacity: 0.3;
            }
        }
    }
    .footer_navigation {
        li {
            &.menu-item {
                @media screen and (min-width: 768px) {
                    margin-bottom: 0.3rem;
                }
            }
        }
        a {
            color: $white;
            position: relative;
            letter-spacing: 0.1em;
            font-size: 0.75rem;
            padding-left: 1.5rem;
            text-transform: uppercase;
            line-height: 21px;
            &:before {
                content: '';
                background: url(../img/arrow-right.svg);
                width: 1rem;
                z-index: 999999;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-0%, -50%);
                height: 1rem;
                background-repeat: no-repeat;
            }
        }
    }

    .sign-up {
        background-color: #191f24;
        overflow: hidden;
        .contact-wrap {
            @media screen and (min-width: 768px) {
                background: #756950;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
            }
            .wpcf7-list-item {
                margin-left: 0;
            }
        }
        p {
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                line-height: 1;
            }
        }
        .form-control {
            padding: 0.85rem;
            border-radius: 0;
            border: 0;
            &::placeholder {
                color: #a6a6a6;
            }
            &.wpcf7-email {
                border-left: 1px solid #ffffff9c;
            }
        }
        .wpcf7-submit {
            border-radius: 0;
            border: 0;
            text-transform: uppercase;
        }
        .submit-wrap {
            p {
                display: flex;
            }
        }
    }
    .footer-top {
        .footer_intro {
            position: relative;
            p {
                font-size: 0.9rem;
                letter-spacing: 0.1em;
            }
            @media screen and (min-width: 768px) {
                p {
                    padding-right: 1rem;
                }
                &:after {
                    content: '';
                    border: 1px solid #ffffff38;
                    position: absolute;
                    top: 0;
                    right: -0.9rem;
                    height: 100%;
                    /* width: 1px; */
                    /* z-index: 999999; */
                }
            }
        }
    }

    #menu-footer2 {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
    .footer-horizental-nav {
        a {
            color: $white;
            letter-spacing: 0.1em;
            font-size: 0.75rem;
        }
    }
    .footer-horizental-nav {
        border-top: 1px solid rgba(255, 255, 255, 0.2196078431);
    }
    .site-info {
        background-color: #191f24;
        .d-flex {
            @media screen and (min-width: 768px) {
                gap: 3rem;
            }
        }
    }
}
