.font-soleil {
    font-family: 'soleil', san-serif;
}
.font-dashiell-bright {
    font-family: 'dashiell-bright', serif;
}
.fw-400 {
    font-weight: 400;
}
.fw-900 {
    font-weight: 900;
}
.fw-600 {
    font-weight: 600;
}
.fw-900 {
    font-weight: 900;
}
